.d-none {
    display: none!important;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
}

header {
    padding-top: 40px;
}

.logo {
    width: 268px;
    margin-bottom: 20px;
}

.search {
    background-color: #E7E7E7;
    font-size: 18px;
    height: 50px;
}

.search-btn {
    right: 0;
}

.fas .fa-search {
    pointer-events: none;
}

.selected-ingredient, .selected-ustensil, .selected-appliance {
    border-radius: 5px;
}

.selected-ingredient {
    color:white;
    background-color:#3282F7;
    padding: 5px 10px;
}

.selected-ustensil {
    color: white;
    background-color: #68D9A4;
    padding: 5px 10px;
}

.selected-appliance {
    color: white;
    background-color: #ED6454;
    padding: 5px 10px;
}

.fa-times-circle:before {
    content: "";
}

.fa-times-circle:after {
    content: "\f057";
    margin-left: 5px;
}

.selectors {
    position: absolute;
    z-index: 1;
}

input[type="search"] {
    border: none;
    outline: none;
    box-shadow:none 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.selector {
    position: relative;
    max-height: 900px;
}

#ingredientsInput, #listIngredients{
    background-color: #3282F7;
    color: white;
}

#ingredientsInput::placeholder {
    color: white
}

#ustensilsInput, #listUstensils{
    background-color: #68D9A4;
    color: white
}

#ustensilsInput::placeholder {
    color: white
}

#appliancesInput, #listAppliances{
    background-color: #ED6454;
    color: white;
}

#appliancesInput::placeholder {
    color: white
}

.select {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 5px;
    color: white;
}

.select span {
    pointer-events: none;
}

#ingredientsInput, #ustensilsInput, #appliancesInput {
    border-radius: 5px;
    padding: 10px 0 10px 10px;
}

#ingredientsInput:focus, #ustensilsInput:focus, #appliancesInput:focus {
    border: none;
}

#listIngredients, #listUstensils, #listAppliances {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 5px 5px;
    max-width: 715px;
}

#listIngredients .options:last-child, #listUstensils .options:last-child, #listAppliances .options:last-child {
    padding-bottom: 10px;
}

#option-list {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 53px;
    z-index: 1;
    background-color: var(--primary);
}

.options {
    padding: 5px 0 0 20px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
    width: 238px;
}

.options a {
    text-decoration: none;
    color: inherit;
}

.dropdown-menu .dropdown-item {
    color: white;
}

.ingredients, .appareil, .ustensiles {
    margin: 20px 20px 20px 0;
}

.ingredients, .ingredients .dropdown-menu {
    background-color: #3282F7;
}

.appareil, .appareil .dropdown-menu {
    background-color: #68D9A4;
    ;
}

.ustensiles, .ustensiles .dropdown-menu {
    background-color: #ED6454;
}

.recipes-container {
    margin-top: 110px;
}

.card {
    width: 350px;
    height: auto;
    margin: 0 30px 30px 0;
}

.card .imgContainer {
    height: 178px;
    width: auto;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    background-color: #E7E7E7;
}

.card header {
    padding-top: 0;
    font-size: 18px;
}

.card .col {
    font-size: 12px;
}

.col-left {
    padding-left: 0;
}

.col-right{
    padding-right: 0;
}